<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/style/registration.css">
</head>
<body class="main">
    <div class="container">
        <form class="form" action="/register" method="post">
        
            <center> <h1>Registration</h1></center>
            <label class="lable" for="name">Name</label>
            <input type="text" class="input" name="name" id="name" placeholder="Enter your name">
            <label class="lable" for="email">Email</label>
            <input type="email" class="input"  name="email" id="email" placeholder="Enter your email">
            <label class="lable" for="role">Role</label>
            <select class="input" name="role" id="role">
                <option value="">-- UserType --</option>
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
            <label class="lable" for="password">Password</label>
            <input type="password" class="input" name="password" id="password" placeholder="Enter your password">
            <label class="lable" for="password">Confirm Password</label>
            <input type="password" class="input" id="password" placeholder="Confirm your password">
            <div class="bt">
            <button type="submit" class="button1" id="Enter">Submit</button>
            </div>
            <a href="/login">Already have account!</a>
        </form>
    </div>
</body>
</html>